.App {
  width: 600px;
  margin: 40px auto;
  padding: 20px 0;
  border: 3px solid black;
  border-radius: 10px;
}
.Input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
}